:root {
  --html-fs: 1px;
  --ff: "Noto Sans", sans-serif;
  --sf: "Montserrat", sans-serif;
  --tf: "Roboto", sans-serif;
  --transition: 0.2s all ease-in-out;

  --txt-900-55-ff: normal 900 55px / 127% var(--ff);
  --txt-900-45-ff: normal 900 45px / 127% var(--ff);
  --txt-900-37-ff: normal 900 37px / 127% var(--ff);
  --txt-900-30-ff: normal 900 30px / 127% var(--ff);
  --txt-900-14-ff: normal 900 14px / normal var(--ff);
  --txt-500-16-ff: normal 500 16px / normal var(--ff);
  --txt-400-16-ff: normal 400 16px / normal var(--ff);

  --txt-700-21-sf: normal 700 21px / normal var(--sf);
 
}
$--background-primary: #8842f0;
$--text-white: #fff;
$--text-span: #b82121;



